// Place all the styles related to the selectors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	background-image: url(questions.jpg);
	background-position: center;
	background-size: 700px 500px;
}
.content{
	background-image: url(questions.jpg);
	background-position: center;
	background-size: 700px 500px;
}
.avatar-select{
	width: 320px;
	height: 50px;
}


.peopleTable{
	padding: 20px;
	background-color: #9fefe8;
	border-radius: 20px;
	opacity: 0.98;
	width: 700px;
	margin-left: 25%;
	margin-top: 2%;
	.logo{
		padding-left: 30%;
		margin-top: 5px;
		margin-bottom: 25px;
		font-size: 40px;
		color: #195953;
		width: 700px;
	}
	table{
		width: 700px;
		img{
			width: 120px;
			height: 90px;
		}
	}

	.addpeeps{
		float: right;
	}

}

.center{
	text-align: center;
}

td, th {
	background-color: #39c9bc;
	padding-bottom: 0px;
	padding-top: 0px;
	border: 1px solid black;
	border-radius: 5px;
}
img{
	padding-top: 5px;
	width: 70px;
	height: 50px;
}
a{
	padding-left: 2px;
	padding-right: 2px;
	&:visited{
		color: #000000;
	}
	&:hover{
		color: #40e0d1;
	}
}
table{
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: -5px -5px 5px #207068;
	opacity: 1;
}
.showpeeps{
	text-align: center;
	left: 40%;
}


